<%= form_for([@post, @post.comments.build]) do |c| %>

<p>
  <%= c.label :commenter %><br>
  <%= c.text_field :commenter %>
</p>

<p>
  <%= c.label :comment %><br>
  <%= c.text_area :body %>
</p>

<p>
  <%= c.submit %>
</p>

<% end %>