<%= form_for @post do |p| %>

<p>
  <%= p.label :title %> <br> 
  <%= p.text_field :title %>
<p>

<p>
  <%= p.label :body %> <br> 
  <%= p.cktext_area :body %>
<p>

<p>
  <%= p.submit %> 
<p>

<% end %>