<h1>Posts</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="2"></th>
  </tr>
    
  <% @posts.each do |p| %>
   <tr>
    <td><%= p.title %></td>
    <td><%= p.body.html_safe %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%= link_to 'Edit', edit_post_path(p) %></td>
    <td><%= link_to 'Delete', post_path(p), method: :delete, data: {confirm: 'sure?' } %></td>
  <% end %>
</table>
<br>
<%= link_to 'New post', new_post_path %>