<h1>Post show</h1>

<p>
  <strong>title</strong><br>
  <%= @post.title %>
</p>

<p>
  <strong>body</strong><br>
  <%= @post.body.html_safe %>
</p>

<h3>Comments:</h3>
<%= render @post.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>